<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>599500549916-9f97k262q9k84hgq2p0mckqt66g4lvv3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.599500549916-9f97k262q9k84hgq2p0mckqt66g4lvv3</string>
	<key>API_KEY</key>
	<string>AIzaSyCQzmqmuCK8VWvr0iaibvnQjB_gO6q25Cg</string>
	<key>GCM_SENDER_ID</key>
	<string>599500549916</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Merrick.McDougal.Flash-Chat-iOS13</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-462e4</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-462e4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:599500549916:ios:76de1b2a3e5b388ea654d9</string>
</dict>
</plist>